body{
  height:100vh;
  justify-content:space-around;
  display:flex;
  flex-direction:column;
  align-items:center;
  border:1px solid red;
}
h1 {
  color: fuchsia;
}
#MC{
  width:50px;
}
#main{
  border:1px solid red;
  margin-top:-400px;
  padding:20px; 
  display:flex;
  flex-direction:column;
  align-items:center;
}
*{
  box-sizing:border-box;
}